*.a
*.la
*.lo
*.o
*~
.deps
.libs
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
design
install-sh
libtool
ltmain.sh
m4/
missing
obsolete/
src/pathcomp
stamp-h1
test-driver
test/test-suite.log
test/test_*
!test/test_*.c
!test/test_*.pl
test/valgrind.log
todo/
